.menu-desktop-container {
	li:not(:last-child){
		position: relative;
		&:hover > a,
		&.focus > a {
			transform: scale(1.1);
		}
	}
	li:last-child{
		display: flex;
		align-items: center;
		a{
			color: #fff;
			padding: 5px 24px;
			font-weight: 400!important;
			border-radius: 8px;
			@include gradient;
			box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
		}
	}
	a {
		color:$color__text;
		transition:0.3s linear;
		transform-origin: center;
		letter-spacing:0.5px;
		&:hover{
			color:$color__text;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: bold;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
