.border{
	@for $i from 1 through 9 {
		&-#{$i} {
			border-radius: #{($i * 10px)};
		}
	}
}
.btn-gradient,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #fff;
	border:none!important;
	padding: 0.6em 1em 0.6em;
	display:inline-block;
	font-size: 12px!important;
	font-weight: bold!important;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.25);
	line-height: 1.2;
	letter-spacing:0.5px;
	@include gradient();
	&:hover {
		border-color: $color__border-button-hover;
	}
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

input::placeholder {
	color: $color__border-input;
}

.form-control {
	color: $color__border-input;
	margin:6px 0px;
	border:1px solid $color__border-input;
	padding:5px 20px!important;
	border-radius: 6px!important;
}
